.App {
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #eeeeee;
  width: 500px;
  position: relative;
}
.App img:hover {
  opacity: .5;
  cursor: pointer;
}
.App input[type="button"]:hover {
  border-style: solid;
  cursor: pointer;
}
.App input[type="button"]:active {
  border-style: outset;
  border-color: white;
}
.App .Header {
  padding: 10px 5px;
  display: flex;
}
.App .Header input {
  width: 100%;
  font-family: 'Helvetica Neue', 
  Helvetica,
  Arial,
  sans-serif;
  font-weight: 300;
  font-size: 24px;
  border: none;
  padding-left: 10px;
}
.App .Header input:focus {
  outline: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
